html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.top {
    background: url(https://images.pexels.com/photos/1487031/pexels-photo-1487031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    margin: 0;
    background-attachment: fixed;
    padding-top: 10vh;
}

.nav_back {
    box-shadow: white 0px 8px 7px -6px;
    border-radius: 9px;
}

.products_list {
    text-align: center;
    overflow: hidden;
}